<div>New User</div>
<div>
	<form name="adduser" method="post" action="insert_user">
		<label for="name">Name</label>
        <input type="text" name="name" />
        
		<label for="email">Email</label>
        <input type="text" name="email" />   
        
        <input type="submit" name="submit" value="Add User" /> 
	</form>
</div>